* {
    box-sizing: border-box;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    scrollbar-width: none;
    transition: .25s;
    font-family: "Kanit", sans-serif;
    font-style: normal;
}

#interesting_main a:hover, #newcomes_main a:hover, .all-books a:hover, .bodkwam a:hover {
    transform: scale(1.05);
}